* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    /*text ko vertically niche lane ke liye */
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /* opacity: 0.5; */
    background-color: #081b31;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    /*img fatat asn tr */
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    /*display inline isliye use kiya hai ki puri line colorful nahi chahiye jitna text hai utna hi chahiye to iskeliye display inline*/
    padding: 1rem;
    border-radius: 1rem;
}